.user {
  width: 250px;
  padding: 1rem;
  padding-top: 0;
  background-color: #28428b;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.name {
  margin: 0.5rem 0;
  color: #cca892;
}

.username {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  color: #e6e4e4;
}

.email {
  margin: 0;
  color: #8a9ec4;
  font-size: 0.8rem;
}
