.post {
  width: 50%;
  background-color: #ececec;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
  color: #1d458f;
}

.body {
  font-size: 0.7rem;
}
